<div class="container p-5">
    <div class="mb-3">
        <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   name="radMode"
                   id="radSerialPort"
                   [disabled]="this.canNotChangeMode()"
                   [checked]="this.mode == 'serial'"
                   (change)="this.handleModeSerial()">
            <label class="form-check-label" for="radSerialPort">
                Serial Port
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input"
                   type="radio"
                   name="radMode"
                   id="radUsb"
                   [disabled]="this.canNotChangeMode()"
                   [checked]="this.mode == 'usb'"
                   (change)="this.handleModeUsb()">
            <label class="form-check-label"
                   for="radUsb">
                USB
            </label>
        </div>
    </div>

    @if (this.mode == 'usb') {
        <div class="mb-3">
            <label for="txtClassGuid" class="form-label">Class GUID</label>
            <input class="form-control"
                   id="txtClassGuid"
                   [value]="this.usbClassGuid"
                   [disabled]="this.canNotChangeMode()"
                   (change)="this.handleUsbClassGuidChange($event)">
            <label class="fst-italic fw-lighter">
                * eg: 4D36E96D-E325-11CE-BFC1-08002BE10318
            </label>
        </div>
    }

    <button type="button"
            class="d-block mb-3 btn btn-secondary"
            [disabled]="this.canNotChangeMode()"
            (click)="this.list()">
        Refresh list
    </button>

    @if (this.mode === 'serial') {
        <div class="dropdown mb-3" style="width: 20rem;">
            <button class="btn btn-primary dropdown-toggle w-100"
                    data-bs-toggle="dropdown"
                    [disabled]="this.canNotChangeMode()">
                @if (this.selectedPort) {
                    {{this.selectedPort}}
                } @else {
                    Select serial device
                }
            </button>
        
            <ul class="dropdown-menu w-100">
                @for (port of this.ports; track port) {
                    <li>
                        <a class="dropdown-item"
                           (click)="this.handlePortSelect(port)">
                            {{port}}
                        </a>
                    </li>
                }
            </ul>
        </div>

        <div class="mb-3">
            <label for="txtSerialBaud" class="form-label">Baud rate</label>
            <input class="form-control"
                   id="txtSerialBaud"
                   [value]="this.portBaudRate"
                   [disabled]="this.canNotChangeMode()"
                   (change)="this.handleSerialBaudChange($event)">
        </div>
    } @else if (this.mode === 'usb') {
        <div class="dropdown mb-3" style="width: 20rem;">
            <button class="btn btn-primary dropdown-toggle w-100"
                    data-bs-toggle="dropdown"
                    [disabled]="this.canNotChangeMode()">
                @if (this.selectedUsb) {
                    {{this.selectedUsb.path}}
                } @else {
                    Select usb device
                }
            </button>
        
            <ul class="dropdown-menu w-100">
                @for (usb of this.usbs; track usb.path) {
                    <li>
                        <a class="dropdown-item"
                           (click)="this.handleUsbSelect(usb)">
                            {{usb.path}}
                        </a>
                    </li>
                }
            </ul>
        </div>
    }

    <div class="mb-3">
        <label for="txtSerialTimeout" class="form-label">Timeout (ms)</label>
        <input class="form-control"
                id="txtSerialTimeout"
                [value]="this.timeout"
                [disabled]="this.canNotChangeMode()"
                (change)="this.handleTimeoutChange($event)">
    </div>

    @if (this.isConnected()) {
        <button type="button"
                class="btn btn-danger mb-5"
                [disabled]="this.isLoading()"
                (click)="this.disconnect()">
            Disconnect
        </button>
    } @else {
        <button type="button"
                class="btn btn-primary mb-5"
                [disabled]="this.isLoading()"
                (click)="this.connect()">
            Connect
        </button>
    }

    <div class="mb-3">
        <label for="txtRequest" class="form-label">Request</label>
        <textarea class="form-control font-monospace"
                  id="txtRequest"
                  rows="5"
                  [disabled]="this.canNotSendRequest()"
                  [value]="this.requestStr"
                  (change)="this.handleRequestStrChange"></textarea>
        <label class="fst-italic fw-lighter">
            @if (this.mode === 'serial') {
                * Must use string literal (AT+COM)<br/>
                * New lines wont be added automatically
            } @else if (this.mode === 'usb') {
                * Must use hex number format (eg: AF0AB9)
            }
        </label>
    </div>

    <div class="mb-3">
        <label for="txtResponseLen" class="form-label">Expected response size (bytes)</label>
        <input class="form-control"
               id="txtResponseLen"
               [value]="this.responseLen"
               [disabled]="this.canNotSendRequest()"
               (change)="this.handleResponseLenChange($event)">
        <label class="fst-italic fw-lighter">
            @if (this.mode === 'serial') {
                * May put bigger number than the actual response<br/>
                * Put 0 if no response needed
            } @else if (this.mode === 'usb') {
                * Put 0 if no response needed
            }
        </label>
    </div>

    <button type="button"
            class="btn btn-primary mb-5"
            [disabled]="this.canNotSendRequest()"
            (click)="this.send()">
        Send
    </button>

    <div class="mb-3">
        <label for="txtResponse" class="form-label">Response</label>
        <textarea class="form-control font-monospace"
                  id="txtResponse"
                  rows="5"
                  readonly
                  [value]="this.responseStr"></textarea>
        <label class="fst-italic fw-lighter">
            @if (this.mode === 'usb') {
                * Response will be in hex number format
            }
        </label>
    </div>
</div>
